body {
    background-color: white;
    margin: 2em;
    font: 1em/1.5em normal Helvetica, Arial, sans-serif;
    color: black;
}
.error {
    color: red;
    margin-bottom: 0.5em;
}
.count {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}
.login {
    margin-bottom: .8em; 
}


